
@{
    ViewBag.Title = "AppointmentList";
}

<style>
    .clientTableCell > th {
        border-right: solid 1px #2E7D32;
    }

    .clientTableCell > td {
        border-right: solid 1px #2E7D32;
        max-width: 1px;
    }

        .clientTableCell > td > i {
            cursor: pointer;
        }

    .clientTableCell :last-child {
        border: none;
    }
</style>
<div class="container body-content">
    <div class="row" style="margin-top: 5%">
        <div class="card green darken-3 white-text">
            <div class="center">
                <span class="card-title" style="font-size: 55px">Citas</span>
            </div>
            <table class="white-text centered responsive-table z-depth-4">
                <thead class="z-depth-1 green lighten-2">
                    <tr class="clientTableCell">
                        <th>Fecha/Hora</th>
                        <th>Cliente Nombre</th>
                        <th>Cliente Apellidos</th>
                        <th>Doctor Nombre</th>
                        <th>Doctor Apellidos</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody class="green lighten-5 black-text">
                    @*@if (Session["UserType"] != null && Session["UserType"].Equals("Admin"))
                        {
                            foreach (var p in Model)
                            {
                                <tr class="clientTableCell">
                                    <td>@p.PagoID</td>
                                    <td>@p.Cedula</td>
                                    <td>@p.Nombre</td>
                                    <td>@p.DescTipoSuscripcion</td>
                                    <td>
                                        <a class="btn-floating  green darken-3">
                                            <i class="material-icons">details</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }*@
                    <tr class="clientTableCell">
                        <td>asd</td>
                        <td>asd</td>
                        <td>asd</td>
                        <td>asd</td>
                        <td>asdn</td>
                        <td>
                            <a href="/Appointment/Appointment/1" class="btn-floating  green darken-3">
                                <i class="material-icons">details</i>
                            </a>
                        </td>
                    </tr>
                    <tr class="clientTableCell">
                        <td>asd</td>
                        <td>asd</td>
                        <td>asd</td>
                        <td>asd</td>
                        <td>asdn</td>
                        <td>
                            <a href="/Appointment/Appointment/2" class="btn-floating  green darken-3">
                                <i class="material-icons">details</i>
                            </a>
                        </td>
                    </tr>
                    <tr class="clientTableCell">
                        <td>asd</td>
                        <td>asd</td>
                        <td>asd</td>
                        <td>asd</td>
                        <td>asdn</td>
                        <td>
                            <a href="/Appointment/Appointment/3" class="btn-floating  green darken-3">
                                <i class="material-icons">details</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
