
@{
    ViewBag.Title = "Appointment/{id}";
}
<div class="container body-content">
    <div class="row" style="margin-top: 5%">
        <div class="card green darken-3 white-text">
            <div class="center">
                <span class="card-title" style="font-size: 55px">Cita: #{id}</span>
            </div>
            <ul class="collection with-header black-text">
                <li class="collection-header"><h4>Fecha/Hora:</h4></li>
                <li class="collection-item">{fechaHora}</li>
                <li class="collection-header"><h4>Doctor Nombre:</h4></li>
                <li class="collection-item">{doctorNombre}</li>
                <li class="collection-header"><h4>Doctor especialidad:</h4></li>
                <li class="collection-item">{especialidad}</li>
                <li class="collection-header"><h4>Doctor Apellidos:</h4></li>
                <li class="collection-item">{doctorApellidos}</li>
                <li class="collection-header"><h4>Doctor Telefono:</h4></li>
                <li class="collection-item">{doctorTelefono}</li>
                <li class="collection-header"><h4>Doctor Correo:</h4></li>
                <li class="collection-item">{clienteCorreo}</li>
                <li class="collection-header"><h4>Cliente Nombre:</h4></li>
                <li class="collection-item">{clienteNombre}</li>
                <li class="collection-header"><h4>Cliente Apellidos:</h4></li>
                <li class="collection-item">{clienteApellidos}</li>
                <li class="collection-header"><h4>Cliente Telefono:</h4></li>
                <li class="collection-item">{clienteTelefono}</li>
                <li class="collection-header"><h4>Cliente Correo:</h4></li>
                <li class="collection-item">{clienteCorreo}</li>
                <li class="collection-header"><h4>Descripcion:</h4></li>
                <li class="collection-item">{descripcion}</li>
                <li class="collection-header"><h4>Comentarios:</h4></li>
                <li class="collection-item">{comentarios}</li>
            </ul>
        </div>
    </div>
</div>
