@model IEnumerable<PicadoDental.Models.MCliente>

@if (Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString().Equals("Secretaria") | Session["TipoUsuario"].ToString().Equals("Doctor"))
{
    {
        ViewBag.Title = "ClientList";
    }

    <style>
        .clientTableCell > th {
            border-right: solid 1px #2E7D32;
        }

        .clientTableCell > td {
            border-right: solid 1px #2E7D32;
            max-width: 1px;
        }

            .clientTableCell > td > i {
                cursor: pointer;
            }

        .clientTableCell :last-child {
            border: none;
        }
    </style>
    <div class="container body-content">
        <div class="row" style="margin-top: 5%">
            <div class="card green darken-3 white-text">
                <div class="center">
                    <span class="card-title" style="font-size: 55px">Clientes</span>
                </div>
                <table class="white-text centered responsive-table z-depth-4 highlight">
                    <thead class="z-depth-1 green lighten-2">
                        <tr class="clientTableCell">
                            <th>Cedula</th>
                            <th>Cliente Nombre</th>
                            <th>Cliente Apellidos</th>
                            <th>Género</th>
                            <th>Editar</th>
                            <th>Citas</th>
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody class="green lighten-5 black-text">
                        @if (Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString().Equals("Secretaria") | Session["TipoUsuario"].ToString().Equals("Doctor"))
                        {
                            foreach (var p in Model)
                            {
                                <tr class="clientTableCell">
                                    <td>@p.Cedula</td>
                                    <td>@p.Nombre</td>
                                    <td>@p.Apellidos</td>
                                    <td>@p.Genero</td>
                                    <td>
                                        <a href="/Client/UpdateClient/@p.PersonaID" class="btn-floating  green darken-3">
                                            <i class="material-icons">edit</i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/Client/AppointmentListOfClient/@p.ClienteID"  class="btn-floating  green darken-3">
                                            <i class="material-icons right">format_list_bulleted</i>
                                        </a>
                                    </td>
                                    <td>
                                        <a  href="/Client/Client/@p.PersonaID" class="btn-floating  green darken-3">
                                            <i class="material-icons">details</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
}
@if (Session["TipoUsuario"] == null || Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString().Equals("Admin"))
{
    Response.Redirect("~/Home/Index");
}

