@if (Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString().Equals("Admin"))
{
    {
        ViewBag.Title = "Secretary";
    }

<div class="container body-content green lighten-5">
    <div style="margin-top: 5%" class="row">
        <div class="col s12 card-panel center green darken-3 white-text">
            <span class="card-title" style="font-size: 55px">Nueva(o) secretaria(o) </span>
        </div>
        <form class="row">
            <div class="input-field input col s3 offset-s1">
                <i class="material-icons prefix">person</i>
                <input id="FirstName" name="FirstName" type="text" class="center black-text text-accent-1 validate .left-alert" required="">
                <label class="black-text" for="FirstName">Nombre:</label>
            </div>
            <div class="input-field col s3">
                <i class="material-icons prefix">person</i>
                <input id="LastName" name="LastName" type="text" class="center black-text text-accent-1 validate .left-alert" required="">
                <label class="black-text" for="LastName">Apellidos:</label>
            </div>
            <div class="input-field col s3">
                <i class="material-icons prefix">chrome_reader_mode</i>
                <input id="Id" name="Id" type="text" class="center black-text text-accent-1 validate .left-alert" data-length="8" pattern="[0-9]{9}" required="">
                <label class="black-text" for="Id">Cédula:</label>
            </div>
            <form class="row">
                <div class="input-field input col s3 offset-s1">
                    <i class="material-icons prefix">person</i>
                    <input id="FirstName" name="FirstName" type="text" class="center black-text text-accent-1 validate .left-alert" required="">
                    <label class="black-text" for="FirstName">Nombre:</label>
                </div>
                <div class="input-field col s3">
                    <i class="material-icons prefix">person</i>
                    <input id="LastName" name="LastName" type="text" class="center black-text text-accent-1 validate .left-alert" required="">
                    <label class="black-text" for="LastName">Apellidos:</label>
                </div>
                <div class="input-field col s3">
                    <i class="material-icons prefix">person</i>
                    <input id="Id" name="Id" type="text" class="center black-text text-accent-1 validate .left-alert" data-length="8" pattern="[0-9]{9}" required="">
                    <label class="black-text" for="Id">Cédula:</label>
                </div>
                <div class="input-field input col s3 offset-s1">
                    <i class="material-icons prefix">person_pin</i>
                    <input id="usuario" name="usuario" type="text" class="center black-text text-accent-1 validate .left-alert" data-length="10" required="">
                    <label class="black-text" for="usuario">Usuario:</label>
                </div>
                <div class="input-field input col s3 ">
                    <i class="material-icons prefix">lock</i>
                    <input id="contrasena" name="contrasena" type="password" class="center black-text text-accent-1 validate .left-alert" data-length="15" required="">
                    <label class="black-text" for="contrasena">Contraseña:</label>
                </div>
                <div class="input-field input col s3 ">
                    <i class="material-icons prefix">lock</i>
                    <input id="Confirmacion" name="Confirmacion" type="password" class="center black-text text-accent-1 validate .left-alert" data-length="15" required="">
                    <label class="black-text" for="Confirmacion">Confirmar Contraseña:</label>
                </div>
            </div>
            <div class="center" style="margin-bottom: 5%">
                <button class="btn waves-effect waves-light green darken-3" type="submit" name="action">
                    Añadir
                    <i class="material-icons right">add</i>
                </button>
            </div>
        </form>
    </div>
}
@if (Session["TipoUsuario"] == null || Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString().Equals("Admin") | Session["TipoUsuario"].ToString().Equals("Doctor"))
{
    Response.Redirect("~/Home/Index");
}


