@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-image: url("../../Public/IMG/backgroundlogin2.jpg");
        background-size: cover;
    }
</style>


@if (TempData["message"] != null)
{
    <body onload="alerta()">
    </body>
}

<script>
        function alerta() {
            M.toast({ html: "@TempData["message"]" })
        }
</script>

<section class="section section-login">
    <div class="container" style="margin-top: 8%">
        <div class="row">
            <div class="col s10 m12 offset-m2 l6 offset-l3">
                <div class="card-panel login green lighten-2 white-text center">
                    <h3>Inicio de Sesión</h3>
                    @using (Html.BeginForm("Authentication", "Authentication"))
                    {
                        <form>
                            <div class="input-field">
                                <i class="material-icons prefix">account_circle</i>
                                <input type="text" id="usuario" name="usuario" required="" maxlength="10">
                                <label class="white-text" for="usuario">Usuario</label>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">lock</i>
                                <input type="password" id="password" name="password" required="" maxlength="15">
                                <label class="white-text" for="password">Password</label>
                            </div>
                            <input type="submit" value="Iniciar Sesión" class="btn btn-large green darken-3">
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</section>